include ../blocks/error
html
    include ../includes/head.pug
    body
        block header
            include ../includes/header.pug
        main
            .container
                block panel
                block content
                +error(error)
        include ../includes/footer.pug
            a(href='/term') Go To Command Line
        block scripts
            include ../includes/scripts.pug