html
    include ../includes/head.pug
    body
        block header
            include ../includes/header.pug
        main
            .container
                block content
        block footer
            include ../includes/footer.pug