# Logs
logs/
*.log
npm-debug.log*
.DS_Store

# IDE & editors
.idea
.vscode

# Dependency directory
node_modules/

# Compiled and temporary files
/public/

# Other files
/.env
/test/integration/data.js
/test/integration/index.html
/test/integration/report.min.css
/test/integration/report.min.js
