{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "no-duplicate-selectors": null,
    "block-no-empty": null,
  },
  "ignoreFiles": "src/sass/vendors/*"
}