$line-height: 2.4rem;
$font-base: "Roboto", Helvetica, Arial, sans-serif;
$font-color: #222;
$font-size: 1.6rem;

$global-radius: .2rem;
$border-color: #bbb;

$gray-light: #d3d3d3;
$gray: #a8a8a8;
$gray-dark: #7e7e7e;

$color-link: #496DDB;
$color-primary: rgba(52, 152, 219,1.0);
$color-secondary: $gray-dark;

$color-info: #5BC0EB;
$color-success: #2BC016;
$color-warning: #E67E22;
$color-danger: #C3423F;

$white: #fff;
