extends layouts/default.pug

block content
    h3 FILE
    if breadcrumbs
        p
            - var deep = ''
            each crumb in breadcrumbs
                - deep += '/' + crumb
                a(href= '/ls-tree/' + branch + deep)= crumb + '/'
    else
        a(href= '/ls-tree/' + branch) /
    if body
        pre.blob(style="border: 1px solid #a8a8a8")
            =body