extends layouts/default.pug

block content
    form(action= '/term' method= 'post')
        div.terminal
            span.terminal__box
                input.terminal__input(name= 'command' value= '')
            input(type= 'submit' value= 'Run' class= 'button button_primary')
        if data
            pre= data

