mixin tree(tree)
    if tree
        ul.list.list_dom
            each child in tree
                if child.dir
                    //if (child.type == 'file')
                    //    li.list__item.link= child.dir
                    //else
                    li.list__item= child.dir
                        +tree(child.children)