.terminal {
  &__box {
    position: relative;
    display: block;

    &::before {
      position: absolute;
      top: 50%;
      left: 10px;
      display: block;
      content: '> ';
      transform: translateY(-50%);
      color: $white;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding-left: 30px;
    color: $white;
    background-color: #272727;
  }
}
