.btn,
.button {
  display: inline-block;
  height: 38px;
  margin-bottom: 1rem;
  padding: 0 30px;
  cursor: pointer;
  transition-duration: 200ms;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: $color-secondary;
  border: 1px solid $border-color;
  border-radius: $global-radius;
  background-color: transparent;
  font-size: inherit;
  font-weight: 100;
  line-height: 38px;

  &:focus,
  &:hover {
    @include hover-style;
  }

  &:focus {
    outline: 0.1rem dotted $gray;
  }

  &:active {
    background-color: $color-primary;
  }

  &_primary {
    color: $white;
    border-color: $color-primary;
    background-color: $color-primary;

    &:focus,
    &:hover {
      color: $white;
      border-color: $color-primary;
      background-color: darken($color-primary, 10%);
    }
  }

  &_no_offset {
    margin: 0;
  }
}
