.list {
  $list: &;

  &_group {
    list-style-type: none;
    border-bottom-color: $gray;

    #{$list}__item {
      position: relative;
      padding: 8px 10px;
      border: 1px solid $gray-light;

      &_flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &_dom {
    padding: 0 0 0 1rem;
    list-style-type: none;

    #{$list}__item {
      position: relative;
      font-size: 1.5rem;

      &:first-child::before,
      &:not(:last-child)::after {
        position: absolute;
        top: 0;
        left: -1rem;
        width: 0.8rem;
        content: '';
        border-width: 0.1rem;
        border-style: none none solid solid;
        border-color: $gray-light;
      }

      &:first-child::before {
        height: 1rem;
      }

      &:not(:last-child)::after {
        bottom: -2.2rem;
      }
    }

    &__item {

    }
  }
}
