extends layouts/default.pug

block content
    h3 Commits
    ul.list.list_group
        each commit in commits
            li.list__item
                a(href='/tree/' + commit.hash)= commit.hash
                div(style="white-space: pre-line")
                    = commit.info