extends layouts/default.pug

block content
    h3 Commits
    ul.list.list_group
        each commit in commits
            li.list__item
                a(href='/commit/' + commit.hash)= commit.hash
                br
                = ' ' + commit.author + ' ' + commit.date
                br
                = commit.body