extends layouts/default.pug

block content
    h3 Commits
    if commits
        ul.list.list_group
            each commit in commits
                li.list__item
                    a(href='/ls-tree/' + commit.hash)= commit.hash
                    p(style="white-space: pre-line")
                        = commit.info
                    a(href='/tree/' + branch + '/' + commit.hash ).button.button_no_offset.button_primary Browse Tree