extends layouts/default.pug

block content
    h3 Branches
    if branches
        ul.list.list_group
            each branch in branches
                li.list__item.list__item_flex
                    a(href='/branch/' + branch )= branch
                    div
                        a(href='/ls-tree/' + branch).button.button_no_offset Browse Files
                        a(href='/tree/' + branch + '/' + branch ).button.button_no_offset.button_primary Browse Tree

