extends layouts/default.pug

block content
    h3 Files Structure
    if files
        ul.list.list_group
            each file in files
                li.list__item
                    if (file.type == 'blob')
                        a(href= '/blob/' + branch + '/' + file.hash)= file.name
                    else
                        a(href= '/path/' + branch + path + file.name)= file.name
